/*header style*/
.header_wrap {
    position: relative;

    .header {
        width: 100%;
        height: 14.7rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 6;

        &.open {
            height: 57.3rem;
            border-radius: 0 0 5rem 5rem;
            box-shadow: 0px 2px 9.8px 0.2px rgba(0, 0, 0, 0.08);
            background-color: #fff;
            transition: height 0.8s;

            .header_container {
                border-color: #e7e7e7;
            }
        }

        &.fixed {
            position: fixed;
            background-color: #fff;

            .header_container {
                border-color: #e7e7e7;
            }
        }

        .header_top {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            height: 3.1rem;
            border-bottom: 1px solid #e7e7e7;
            padding: 0 8rem;

            ul {
                display: flex;

                >li {
                    >a {
                        display: flex;
                        align-items: center;

                        span {
                            font-family: "NotoSansR";
                            font-size: 1.5rem;
                            color: #1b1b1b;
                        }

                        img {
                            margin-left: 0.5rem;
                        }
                    }

                    &+li {
                        margin-left: 2rem;
                    }
                }
            }
        }

        .header_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 4rem 8rem;
            border-bottom: 1px solid transparent;
            position: relative;

            .top_func_box {
                display: flex;
                align-items: center;

                .lang_box {
                    position: relative;
                    margin-right: 3.3rem;

                    .btn_lang {
                        width: 4.05rem;
                        height: 3rem;
                        font-family: "NotoSansB";
                        font-size: 1.6rem;
                        letter-spacing: -0.05rem;
                        color: black;
                        text-align: left;
                        position: relative;

                        &::after {
                            content: "";
                            display: block;
                            width: 1rem;
                            height: 0.5rem;
                            background: url("../../image/img/lang_btn.png") no-repeat;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                        }
                    }

                    ul {
                        &.lang_list {
                            width: 5.277rem;
                            background-color: #fff;
                            border-radius: 2rem;
                            padding: 1rem 0;
                            box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.05);
                            position: absolute;
                            top: 3rem;
                            left: 0;
                            display: none;

                            >li {
                                width: 100%;
                                height: 3rem;
                                text-align: center;

                                >a {
                                    font-size: 1.6rem;
                                    letter-spacing: -0.05rem;
                                    font-family: "NotoSansB";
                                    color: black;
                                }
                            }
                        }
                    }
                }

                .hamberger_box {
                    width: 2.6rem;
                    height: 2rem;

                    >a {
                        &.btn_hamberger {
                            display: block;
                            width: 100%;
                            height: 100%;
                            position: relative;

                            span {
                                position: absolute;
                                left: 0;
                                width: 100%;
                                height: .2rem;
                                background-color: rgb(0, 0, 0);
                                transition: all 0.3s ease-in-out;

                                &:nth-of-type(1) {
                                    top: 0;
                                }

                                &:nth-of-type(2) {
                                    top: .9rem;
                                }

                                &:nth-of-type(3) {
                                    bottom: 0;
                                }
                            }

                            &.active {
                                span {
                                    &:nth-of-type(1) {
                                        transform: translateY(0.9rem) rotate(-45deg);
                                    }

                                    &:nth-of-type(2) {
                                        opacity: 0;
                                    }

                                    &:nth-of-type(3) {
                                        transform: translateY(-0.9rem) rotate(45deg);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1700px) {
    .header_wrap {
        .header {
            .header_container {
                padding: 4rem 2rem;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .header_wrap {
        .header {
            height: auto;

            .header_top {
                display: none;
            }

            .header_container {
                .header_logo {
                    width: 11.7rem;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .header_wrap {
        .header {
            .header_container {
                padding: 2.2rem 2rem;

                .top_func_box {
                    .lang_box {
                        margin-right: 1.5rem;
                    }

                    .hamberger_box {
                        width: 2.4rem;
                        height: 1.9rem;
                    }
                }
            }
        }
    }
}