/*scrollEvent style*/
@media screen and (min-width: 769px) {
    [data-aos="new-fade-up"] {
        opacity: 0;
        transform: translateY(100px);
        transition-property: transform, opacity;
    }

    [data-aos="new-fade-up"].aos-animate {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    [data-aos="grid-fade-up"] {
        opacity: 0;
        transform: translateY(100px);
        transition-property: transform, opacity;
    }

    [data-aos="grid-fade-up"].aos-animate {
        opacity: 1;
        transform: translateY(0);
    }
}